<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"	
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	
	<import resource="daoContext.xml" />
	
	<bean id="postsService" class="service.impl.PostsServiceImpl"
		p:commentDao-ref="commentDao"
		p:contentDao-ref="contentDao"
		p:imgContentDao-ref="imgContentDao"
		p:postDao-ref="postDao"
		p:userDao-ref="userDao"
		p:videoContentDao-ref="videoContentDao"/>
		
	<bean id="updateTextAction" class="action.UpdateTextAction" scope="prototype"
		p:postsService-ref="postsService" />
		
	<bean id="getTimelineAction" class="action.GetTimelineAction" scope="prototype"
		p:postsService-ref="postsService" />

	<bean id="likeAction" class="action.LikeAction" scope="prototype"
		  p:postsService-ref="postsService" />
		
	<bean class="TestListener"
		p:commentDao-ref="commentDao"
		p:contentDao-ref="contentDao"
		p:imgContentDao-ref="imgContentDao"
		p:postDao-ref="postDao"
		p:userDao-ref="userDao"
		p:videoContentDao-ref="videoContentDao"
		p:postsService-ref="postsService" />

</beans>